<div class="dice-roll red-dual">
    {{#if title}}
    <div class="flavor-text">{{title}}</div>
    {{/if}}
    <div class="dice-result">
		<div class="dice-formula dice-tooltip">{{formula}}</div>
		<div class="dice-row">
			{{#each tooltips}}
			<div class="tooltip dual-left dice-row-item">{{{this}}}</div>
			{{/each}}	
		</div>
		<div class="dice-row">
			{{#each rolls}}
			<h4 class="dice-total dice-row-item{{#if this.ignored}} ignored{{/if}}">{{this.total}}</h4>
			{{/each}}
		</div>
    </div>
</div>