<div class="dice-roll red-dual">
    {{#if damagetop}}
    <div class="flavor-text">{{damagetop}}</div>
    {{/if}}
    <div class="dice-result">
		<div class="dice-formula dice-tooltip">{{formula}}</div>
		<div class="dice-row">
			{{{tooltip}}}
		</div>
		<div class="dice-row">
			<h4 class="dice-total dice-row-item red-damage" data-damageType="{{damageType}}">
				<div class="red-base-die inline red-base-damage" data-value="{{total}}">{{total}}</div>
				{{#if crittext}}<div class="flavor-text inline">{{crittext}}</div>{{/if}}
				{{#if damagemid}}<div class="damage-type" style="line-height:12px">{{damagemid}}</div>{{/if}}
			</h4>
		</div>
		{{#if damagebottom}}<div class="damage-type">{{damagebottom}}</div>{{/if}}
    </div>
</div>