<div class="die-result-overlay-br damage-overlay-br">
	<span>
		<span class="apply-damage-buttons">
			<button data-modifier="-1" class="icon heart-plus" title="{{ localize "br5e.chat.damageButtons.healing.hint" }}">
			</button>
		</span>
		<button class="crit-button" title="{{ localize "br5e.chat.damageButtons.crit.hint"}}">
			<i class="fas fa-plus"></i>
		</button>
	</span>
	<span class="apply-damage-buttons">
		<button data-modifier="1" title="{{ localize "br5e.chat.damageButtons.fullDamage.hint" }}">
			<i class="fas fa-user-minus"></i>
		</button>
		<button data-modifier="0.25" title="{{ localize "br5e.chat.damageButtons.quarterDamage.hint" }}">
			<i class="fas fa-user-check"></i>
		</button>
		<button data-modifier="0.5" title="{{ localize "br5e.chat.damageButtons.halfDamage.hint" }}">
			<i class="fas fa-user-shield"></i>
		</button>
		<button data-modifier="2" title="{{ localize "br5e.chat.damageButtons.doubleDamage.hint" }}">
			<i class="fas fa-user-injured"></i>
		</button>
	</span>
</div>
