# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the publish branch
on:
  push:
    branches: [ publish ]
  pull_request:
    branches: [ publish ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a set of commands using the runners shell
    - uses: papeloto/action-zip@v1
      with:
        files: betterrolls5e/
        dest: betterrolls5e.zip
        path: ${{ github.workspace }}/betterrolls5e.zip
